In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Datasets/OSL Datasets/faa_ai_prelim.csv")

In [4]:
df.shape

(83, 42)

In [6]:
df.head(5)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [20]:
df2 = df[['LOC_STATE_NAME','RMK_TEXT','EVENT_TYPE_DESC','ACFT_MAKE_NAME','ACFT_MODEL_NAME','FLT_PHASE','FATAL_FLAG']]
df2.head(2)

,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG
0,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,BEECH,36,UNKNOWN (UNK),Yes
1,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,VANS,RV7,LANDING (LDG),NaN

In [21]:
type(df2)

pandas.core.frame.DataFrame

In [24]:
df2['FATAL_FLAG'].fillna(value='No',inplace=True)
df2.head()

C:\Users\nvkar\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG
0,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,BEECH,36,UNKNOWN (UNK),Yes
1,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,VANS,RV7,LANDING (LDG),No
2,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,CESSNA,172,APPROACH (APR),No
3,North Carolina,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,LANCAIR,235,LANDING (LDG),No
4,Alaska,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,CESSNA,172,LANDING (LDG),No

In [25]:
df2.shape

(83, 7)

In [62]:
df2['FLT_PHASE'].unique()

array(['UNKNOWN (UNK)', 'LANDING (LDG)', 'APPROACH (APR)',
       'TAKEOFF (TOF)', 'TAXI (TXI)', 'STANDING (STD)', nan], dtype=object)

In [48]:
df3 = df2.dropna(subset=["ACFT_MAKE_NAME"])

In [49]:
df3.shape

(78, 7)

In [52]:
group_name = df3.groupby(['ACFT_MAKE_NAME'])

In [57]:
group_name.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [60]:
group_flag = df3.groupby('FATAL_FLAG')

In [61]:
group_flag.size()

FATAL_FLAG
No     71
Yes     7
dtype: int64

In [72]:
yes_fatal = group_flag.get_group('Yes')

In [74]:
yes_fatal

,LOC_STATE_NAME,RMK_TEXT,EVENT_TYPE_DESC,ACFT_MAKE_NAME,ACFT_MODEL_NAME,FLT_PHASE,FATAL_FLAG
0,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,BEECH,36,UNKNOWN (UNK),Yes
53,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,Accident,PIPER,PA28,UNKNOWN (UNK),Yes
55,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,Accident,FLIGHT DESIGN,CTLS,UNKNOWN (UNK),Yes
79,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",Accident,NORTH AMERICAN,F51,UNKNOWN (UNK),Yes
80,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,CHAMPION,8KCAB,UNKNOWN (UNK),Yes
81,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",Accident,BEECH,35,UNKNOWN (UNK),Yes
82,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,Accident,CESSNA,182,UNKNOWN (UNK),Yes