In [1]:
import pandas as pd

In [27]:
df = pd.read_csv('FDNY.csv',skiprows=1)
df.head()

,FacilityName,FacilityAddress,Borough
0,Engine 4/Ladder 15,42 South Street,Manhattan
1,Engine 10/Ladder 10,124 Liberty Street,Manhattan
2,Engine 6,49 Beekman Street,Manhattan
3,Engine 7/Ladder 1/Battalion 1/Manhattan Boroug...,100-104 Duane Street,Manhattan
4,Ladder 8,14 North Moore Street,Manhattan

In [32]:
df.describe()

              FacilityName  FacilityAddress   Borough
count                  218              218       218
unique                 218              218         5
top     Engine 4/Ladder 15  42 South Street  Brooklyn
freq                     1                1        66

In [28]:
df.columns

Index(['FacilityName', 'FacilityAddress', 'Borough'], dtype='object')

In [29]:
df2 = df.groupby('FacilityName')

In [30]:
df2.size()

FacilityName
  Engine 96/Ladder 54                            1
Bronx Borough Command, District Office 6 & 7     1
EMS Station 17                                   1
EMS Station 26                                   1
Eng 292/Rescue 4                                 1
                                                ..
Squad 252                                        1
Squad 270/Division 13                            1
Squad 288/Hazmat 1                               1
Squad 41                                         1
Squad 61/Battalion 20                            1
Length: 218, dtype: int64

In [33]:
df['FacilityName'].value_counts().sum()

218

In [34]:
df2.ngroups

218

In [35]:
df.count()

FacilityName       218
FacilityAddress    218
Borough            218
dtype: int64

In [36]:
df3 = df.groupby('Borough')

In [37]:
df3.size()

Borough
Bronx            34
Brooklyn         66
Manhattan        48
Queens           50
Staten Island    20
dtype: int64